# Módulo 1

## 1. Aquisição e leitura de dados reais

> O DATASUS disponibiliza informações que podem servir para subsidiar  análises objetivas da situação sanitária, tomadas de decisão baseadas em evidências e elaboração de programas de ações de saúde.<br>
Link para o [**DATASUS**](https://datasus.saude.gov.br/informacoes-de-saude-tabnet/)

- [ ] Fazer análise por estado
- [ ] Por municipio.

In [2]:
import pandas as pd

In [116]:
# Abre e Lê o arquivo csv
dados = pd.read_csv('https://raw.githubusercontent.com/alura-cursos/agendamento-hospitalar/main/dados/A151346189_28_143_208.csv',
                    sep=';', engine='python', encoding='ISO-8859-1', skiprows=3, skipfooter=12)

# Altera / por _ no nome da coluna
dados.columns = dados.columns.str.replace('/', '_')

# Altera coluna "Unidades da Federação" com espaços e maiúsculas por uf
dados = dados.rename(columns={'Unidade da Federação':'uf'})

# Subset da coluna "uf" e divisão do código [11 Rondônia] em [11] [Rondônia]
uf_name_number = dados['uf'].str.split(' ',n=1, expand=True).rename(columns={0:'uf_number', 1:'uf_name'})

# Cria lista na mão dos códigos UF e os UFs
uf_code_number = pd.DataFrame({"uf_number":["11", "12", "13", "14", "15", "16", "17", "21", "22", "23", "24", "25", "26", "27",
                                          "28", "29", "31", "32", "33", "35", "41", "42", "43", "50", "51", "52", "53"],
                               "uf":["RO", "AC", "AM", "RR", "PA", "AP", "TO", "MA", "PI", "CE", "RN", "PB", "PE", "AL",
                                       "SE", "BA", "MG", "ES", "RJ", "SP", "PR", "SC", "RS", "MS", "MT", "GO", "DF"]})

# Merge dos dois DataFrames
uf_name_number = uf_name_number.merge(uf_code_number, on='uf_number')

In [117]:
uf_name_number

   uf_number              uf_name  uf
0         11             Rondônia  RO
1         12                 Acre  AC
2         13             Amazonas  AM
3         14              Roraima  RR
4         15                 Pará  PA
5         16                Amapá  AP
6         17            Tocantins  TO
7         21             Maranhão  MA
8         22                Piauí  PI
9         23                Ceará  CE
10        24  Rio Grande do Norte  RN
11        25              Paraíba  PB
12        26           Pernambuco  PE
13        27              Alagoas  AL
14        28              Sergipe  SE
15        29                Bahia  BA
16        31         Minas Gerais  MG
17        32       Espírito Santo  ES
18        33       Rio de Janeiro  RJ
19        35            São Paulo  SP
20        41               Paraná  PR
21        42       Santa Catarina  SC
22        43    Rio Grande do Sul  RS
23        50   Mato Grosso do Sul  MS
24        51          Mato Grosso  MT
25        52                Goiás  GO
26        53     Distrito Federal  DF

In [111]:
uf_code_number['uf_number']

0     11
1     12
2     13
3     14
4     15
5     16
6     17
7     21
8     22
9     23
10    24
11    25
12    26
13    27
14    28
15    29
16    31
17    32
18    33
19    35
20    41
21    42
22    43
23    50
24    51
25    52
26    53
Name: uf_number, dtype: object

In [113]:
uf_name_number

                    uf_name
0   11             Rondônia
1   12                 Acre
2   13             Amazonas
3   14              Roraima
4   15                 Pará
5   16                Amapá
6   17            Tocantins
7   21             Maranhão
8   22                Piauí
9   23                Ceará
10  24  Rio Grande do Norte
11  25              Paraíba
12  26           Pernambuco
13  27              Alagoas
14  28              Sergipe
15  29                Bahia
16  31         Minas Gerais
17  32       Espírito Santo
18  33       Rio de Janeiro
19  35            São Paulo
20  41               Paraná
21  42       Santa Catarina
22  43    Rio Grande do Sul
23  50   Mato Grosso do Sul
24  51          Mato Grosso
25  52                Goiás
26  53     Distrito Federal